/*------ Global -----*/
/*добавим правило меняющее расчёт размеров для всех элементов и псевдоэлементов*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    background-color: #406343;
    padding: 0;
    margin: 0 auto;
    width: 1920px;
    height: 1080px;
}
/*Добавим правило для всех изображений, чтобы они не тянулись больше своих родительских блоков и сохраняли пропорцию*/
img {
    max-width: 100%;
    height: auto;
}

/*доступно скроем все элементы с visually-hidden*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*------ Header ----*/
.header {
    position: absolute;
    top: 32px;
    left: 44px;
    right: 48px;
    z-index: 1;
    width: 1827px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0 45px;
    list-style-type: none;
}

.navigation__link {
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    transition: color .15s ease-in;
}

.navigation__link:hover,
.navigation__link:focus  {
    color: #406343;
}

.navigation__link--current {
    position: relative;
}

.navigation__link--current::before {
    content: '';
    width: 100%;
    height: 10px;
    background-color: #406343;
    position: absolute;
    bottom: -10px;
}

.controls {
    display: flex;
    gap: 0 35px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.controls__button {
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: all .5s;
}

.controls__button:hover {
    transform: scale(1.5);
}

.controls__button svg {
    fill: #fff;
}

/*----- Promo ------*/

.promo {
    width: 100%;
    height: 100%;
    position: relative;
}
.promo__image {
    width: 100%;
    display: block;
}

.promo__text-lion {
    position: absolute;
    top: 408px;
    left: 399px;
    transition: transform .3s ease-in;
}

.promo__text-lion:hover {
    transform: scale(0.95);
}

.promo__controls {
    display: flex;
    flex-direction: column;
    gap: 13px 0;
    width: 380px;
    align-items: center;
    position: absolute;
    bottom: 189px;
    left: 50%;
    margin-left: -190px;
}

.promo__scroll {
    width: 69px;
    height: 69px;
    background-image: url("../image/mous-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.button {
    width: 380px;
    height: 80px;
    border: none;
    border-radius: 20px;
    background-color: #406343;
    box-shadow: -25px 0px 50px rgba(0, 0, 0, 0.1), 25px -25px 50px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding: 22px 47px 20px;
    font-size: 25px;
    line-height: 38px;
    font-weight: 700;
    color: inherit;
    cursor: pointer;
}

.button svg {
    fill: #fff;
}

.promo__text {
    position: absolute;
    top: 674px;
    right: 147px;
    width: 429px;
}

.promo__text h2 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 18px;
}

.promo__text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(179, 179, 179, 0.8);
    margin-top: 0;

}

/*
font-family: 'Poppins', sans-serif;
*/